<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>Edit Renter</h1>

			<%= render "form" %>

			<p class="btn btn-danger delete-renter-btn"><%= link_to "Delete Renter", renter_path(@renter), :method=>:delete, style: "color: white" %></p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>