// Place all the styles related to the Rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delete-yes {float: left;}
.modal1-btn {margin-bottom: 10px}
.modal2-btn {margin-bottom: 10px;
						float: right}
.edit-rental-btn {margin-bottom: 10px}
.rentals-btn {margin-bottom: 10px;
							float:right;
							clear: top;}
.renter-rentals-btn {margin-bottom: 10px;
							float:right}
.lease-rentals-btn {margin-bottom: 10px;}
.delete-rentals-btn { margin-top: 10px;}
.show-image {margin-bottom: 10px;}

.rental-pic {display: none;}
.rental-pic {margin-bottom: 10px;}