<!doctype html>
<html>
<head>
</head>
<body>
<p>Your lease is set to expire at the end of next month.</p>
<p>Please contact me if you wish to extend your lease or</p>
<p>if you are planning on moving out.</p>
<br>
<p>Thanks,</p>
<p>Shawn</p>
</body>
</html>