<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Edit Rental</h1>

      <%= render "form" %>

      <div>
      	<button type="button" class="btn btn-danger btn-md delete-rentals-btn" data-toggle="modal" data-target="#myModal">Delete Rental</button></li>
      </div>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <p>If you delete this rental all associated renter and lease records will also be deleted.  Continue?</p>
            </div>
            <div class="modal-footer">
              <div class="delete-yes">
                <%= button_to "Yes", rental_path(@rental), :method=>:delete,  class:"btn btn-warning" %>
              </div>
              <div class="delete-cancel">
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
